*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    color: #fff;
}
.header{
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    width:100%;
    height:100vh;
    opacity:0.6;
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%),url(assets/new.jpg);
    background-position:center;
}
.minibar{
    max-width: 100%;
    height: 10px;
    background-color: #333;
}
.container{
    display: flex;
   
}
.container-title{
    padding: 15% 10%;
}
.container img{
    width:100%;
    height:100%;
}
nav .logo{
    width:10%;
    height:10%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 10px;
}
.header-title h1{
    font-size:3rem;
    text-align: center;
    font-weight:600;
    padding-top: 8%;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
.header-title h3{
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
}
.header-title p{
    font-size: 2rem;
    font-weight: 150;
    text-align: center;
    padding-top: 2%;
}
.email-form input{
    color: #fff;
    padding: 2% 5%;
    background-color: transparent;
    border-radius: 3px;
    outline:none;
    border:1px solid #fff;
    padding: 17px 7px;
    margin-left:30%; 
    width: 25%;
    flex: 1; 
    margin-top: 2%;
}
.email-form input::placeholder{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
.email-form button{
    background-color: rgb(255, 19, 19);
    border: none;
    outline: none;
    border-radius: 3px;
    color: #fff;
    padding:11px 10px;
    font-size: 1.5rem;
    font-weight: 300;
    margin-right: 20%;
    margin-left: 1%;
    cursor: pointer;
}
.email-form button:hover{
    background-color: rgb(243, 88, 88);
}
nav .language{
    background-color: transparent;
    border: 1px solid #fff;
    padding: 2% 0%;
    width: 100px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
nav .SignIn{
    background-color: red;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 300;
    margin-left: 25px;
    border: none;
}
.container-title h1{
    font-size: 3.5rem;
    font-weight: 300;
    padding-left:10px;

}
.container-title p{
    font-size: 2rem;
    font-weight: 500;
    padding-left:10px;
    padding-top: 20px;
    max-width: 800px;
}
nav .SignIn:hover {
    background-color: rgb(243, 88, 88);
}

.faq{
    padding: 10px 12%;
    font-size: 1.2rem;
    text-align: center;
}
.faq h1{
    font-weight:600;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.faq ul{
    margin: 60px auto;
    max-width: 750px;
    width: 100%;
}
.faq ul li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.faq ul li label{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #333;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 3px;
    position: relative;
}
label::after{
    content:'+';
    font-size:35px;
    position:absolute;
    right: 20px;
}
input[type="radio"]{
    display:none;
}
.faq .content{
    background-color: #333;
    font-size: 1.2rem;
    padding: 0% 2%;
    max-height:0;
    text-align: center;
    overflow:hidden;
}
footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #666;
    color: #666;
}
footer h1{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;
}
footer .row{
    display:flex;
    align-items: flex-start;
    padding:1% 4%;
}
footer .col a{
    text-decoration: none;
    color: #666;
    font-size:20px;
    font-weight: 500;
    display: block;
}
footer .col{
    margin:2% 4%;
}
.lang{
    background-color:transparent;
    border-radius:4px ;
    border:4px solid #777 ;
    font-size: 1rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 15px;
    color: #777;
}
footer p{
  color: #777;
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding: 10px 8px;
}